@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); /*Lato*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); /*'Merriweather'*/

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');  /* 'Grey Qo' */


@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); /*Gruppo*/

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Jura:wght@300..700&display=swap'); /*Jura*/

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap'); /* "Cutive Mono", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap'); /* "Major Mono Display", monospace;*/


@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&family=Permanent+Marker&display=swap'); /* "Permanent Marker", cursive; */




/* .Paleta {
color: rgba(0, 0, 0, 1);
color: #A4947E; - n faz parte
color: rgba(166, 159, 149, 1);
color: rgba(122, 122, 122, 1); 
color: rgba(255, 255, 255, 1); 
color: rgba(96, 107, 115, 1); 
} */





/*
0 até 768px = mobile

Medium devices (landscape tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 992px) {...}

Large devices (laptops/desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1200px) {...}

Extra large devices (large laptops and desktops, 1200px and up) 
@media screen and (min-width: 1200px) {...} 
*/

.Paleta {
    color: rgba(0, 0, 0, 1);
    color: rgba(166, 159, 149, 1);
    color: rgba(122, 122, 122,1); 
    color: rgba(255, 255, 255, 1); 
    color: rgba(96,107,115,1);
    color: #A4947E;
} 


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    line-height: 1.5 !important;
}

html, body {
    width: 100;
    height: 100vh;
}



.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 32pt;
    margin-bottom: 100px;
}

.head p {
    font-family: "Grey Qo", 'cursive';
    font-weight: 500;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12pt;
    font-family: 'Merriweather', 'serif';
    background-color: white;
    width: 100%;
    height: auto;
    justify-content: center;
}

.chamada_container {
    background-image: url(../img/chamada_bg4.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 95vh;

    padding: 15px;
    color: white;

    font-size: 14pt;
    text-align: left;
}

.chamada_container > div {
    margin-bottom: 20px;
}

#chamada_p {
    font-size: 2em;
    line-height: 1.5;

}

.problemas_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #121212;
    width: 100%;
    padding: 15px;
    font-size: 1em;
    padding-top: 50px;
}


.problemas_el {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 15px 0px;
    font-size: 1.2em;
}

.problemas_el > img{
    width: 100%;
    max-width: 600px;
}

.problema_emt {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    width: 80%;
    margin: 20px 0px;
    gap: 20px;
    font-size: 1.2em;
    padding: 15px;
    border: 2px solid #351a1a;
    border-radius: 4px;
    box-shadow: 0px 0px 15px #351a1a, 0px 0px 10px #000000;
}

.apresentacao_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-image: linear-gradient(to bottom, #121212, #351a1a);
    padding: 40px 0px;
}

.apresentando_me {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 20px 50px 0px 0px;
}

.apresentando_nome {
    display: flex;
    width: 90%;
    text-align: center;
    font-size: 1.6em;
    font-family: "Cutive Mono", monospace;
    font-variant: small-caps;
    font-weight: bold; 
    flex-direction: column;
    line-height: 1em;
    padding-bottom: 5px;
}

/* isso vai ser alterado para pc */
#apresentacao_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}

#foto_apresentacao {
    width: 100%;
    border-radius: 20px 50px 20px 20px;
    max-width: 600px;
}

/* isso vai ser alterado para pc */
#apresentacao_texto {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.frases_apresentacao p {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12pt;
    margin: 10px;
}

.p_chamada {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px 0px;
    background-color: #000000;
    border-radius: 15px;
    font-family: 'Merriweather', 'serif';
    animation-name: anima;
    animation-duration: 1.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.btn_chamada {
    background-color: #2a902d;
    padding: 5px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
}

#link_chamada {
    color: white;
    font-size: 13pt;
    text-decoration: none;
    animation-name: text;
}


@keyframes anima {
    0% {
        transform: scale(1.01);
        transform: rotate(0.3deg);
        box-shadow: 0px 0px 4px rgb(0, 0, 0), 0px 0px 4px rgb(0, 0, 0)
    }

    50% {
        transform: rotate(0deg);
        transform: scale(1.03);

    }
    100% {
        transform: scale(1.01);
        box-shadow: 0px 0px 1px rgb(0, 0, 0), 0px 0px 1px rgb(0, 0, 0);
        transform: rotate(-0.3deg);
        
    }
}


.habilidades_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 20px;
    background-color: rgb(233, 212, 201);
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
  }

.habilidade_el {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 5px 0px 5px 0px;
    /* border: 1px solid rgb(0, 0, 0); */
}

.habilidades_container h1 {
    margin: 15px 0px;
}

.habilidade_el h2, h3, span {
    font-weight: 200;
    margin: 5px 15px;
}

.habilidade_el p {
    margin: 10px;
}

#mostrar_contratos, #ocultar_contratos {
    cursor: pointer;
    color: rgb(133, 33, 33);
}

#mostrar_contratos:hover, #ocultar_contratos:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.contato_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(69, 2, 2);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
.contato_container h1 {
    margin: 15px 0px;
}

.contact-info p {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
.processo_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 40px 20px 40px 20px;
    background-image: linear-gradient(rgb(69, 2, 2), rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8));
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    /* box-shadow: 0px 0px 15px rgb(50, 33, 59); */
    color: white;
  }

.processo_h1 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 40px;
}
.processo_titulo {
    font-size: 1.5em;
    text-align: left;  
    margin-bottom: 10px; 
}

.processo_texto {
    font-size: 1em;
    text-align: justify;   
    margin-bottom: 40px; 
}

.faq_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 80px 20px 40px 20px;
    background-image: linear-gradient(rgba(40, 20, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../img/faq_bg2.jpg');
    box-shadow: 0px 0px 5px #000000;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    color: white;
}

.faq_h1 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 40px;
}

.faq_questao {
    font-size: 1.5em;
    text-align: left;  
    margin-bottom: 10px; 
}

.faq_resposta {
    font-size: 1em;
    text-align: justify;   
    margin-bottom: 40px; 
}

.foot {
    display: flex;
    align-items: top;
    justify-content: space-between;
    color: white;
    background-color: #121212;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.foot_col {
    display: flex;
    font-size: 12pt;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 50%;
}

.foot h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 200;
    font-style: normal;
    margin: 0px;
    padding: 10px;
}

.foot h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 200;
    font-style: normal;
    margin: 0px;
    padding: 5px;
}

.foot p {
    font-family: "Grey Qo", 'cursive';
    font-weight: 500;
    font-style: normal;
    margin: 5px;
    padding: 10px;
    /* background-color: rgba(230, 174, 20, 0.71); */
}

.btn_redes_f {
    margin: 10px;
}

#whats {
    width: 35px;
    cursor: pointer;
}


.hr_black {
    width: 80%;
    height: 1px;
    border: 1px solid #000000;
    margin: 20px;
  }

.hr_white {
    width: 80%;
    height: 1px;
    border: 1px solid #ffffff;
    margin: 20px;
  }

  .fas {
    margin-right: 5px;
  }

  @media screen and (min-width: 768px) {
    
    .problemas_container {
        /* ... outros estilos ... */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Permite que os elementos "problemas_el" quebrem para a próxima linha */
        justify-content: space-around; /* Distribui os elementos igualmente no espaço disponível */
        padding: 30px;
    }
    
    .problemas_el {
        /* ... outros estilos ... */
        width: 40%; /* Define a largura de cada elemento para que caibam dois por linha */
    }
    
    .p_chamada {
        /* ... outros estilos ... */
        width: 100%; /* Garante que o botão ocupe toda a largura da linha */
    }

    
    .foto_apresentacao {
        max-width: 200px !important;
    }
}

