@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); /*Lato*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); /*'Merriweather'*/

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');  /* 'Grey Qo' */


@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap'); /*Gruppo*/

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Jura:wght@300..700&display=swap'); /*Jura*/

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap'); /* "Cutive Mono", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap'); /* "Major Mono Display", monospace;*/


@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&family=Permanent+Marker&display=swap'); /* "Permanent Marker", cursive; */




/* .Paleta {
color: rgba(0, 0, 0, 1);
color: #A4947E; - n faz parte
color: rgba(166, 159, 149, 1);
color: rgba(122, 122, 122, 1); 
color: rgba(255, 255, 255, 1); 
color: rgba(96, 107, 115, 1); 
} */





/*
0 até 768px = mobile

Medium devices (landscape tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 992px) {...}

Large devices (laptops/desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1200px) {...}

Extra large devices (large laptops and desktops, 1200px and up) 
@media screen and (min-width: 1200px) {...} 
*/

.Paleta {
    color: rgba(0, 0, 0, 1);
    color: rgba(166, 159, 149, 1);
    color: rgba(122, 122, 122,1); 
    color: rgba(255, 255, 255, 1); 
    color: rgba(96,107,115,1);
    color: #A4947E;
} 


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html, body {
    width: 100;
    height: 100vh;
}



.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #351a1a; 
    font-size: 32pt;
}

.head p {
    font-family: "Grey Qo", 'cursive';
    font-weight: 500;
    font-style: normal;
    /* background-color: rgba(230, 174, 20, 0.71);; */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12pt;
    font-family: 'Merriweather', 'serif';
    background-image: linear-gradient(to bottom, #351a1a, #c84242);
    width: 100%;
    height: auto;
    justify-content: center;
}

.chamada_container {
    background-color: green;
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    padding: 5px 30px;
    color: white;
    text-align: center;
    align-items: center;
    
}

.apresentacao_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 80%;
    color: white;
}

.apresentando_me {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 12pt !important;
    margin: 10px 0px 5px 0px;
    text-align: center;
    color: white;
}

.apresentando_me > h1 {
    font-family: 'Gruppo';
    color: white;
    font-size: 14pt;
}

.apresentando_me > h2 {
    font-family: 'Gruppo';
    margin: 10px;
    padding: 0px;
    font-size: 12pt;
    
}

/* isso vai ser alterado para pc */
#apresentacao_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 600px;
    /* background-color: green !important; */
}

#foto_apresentacao {
    width: 70%;
    max-width: 250px;
}

/* isso vai ser alterado para pc */
#apresentacao_texto {
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    font-family: 'Merriweather', 'serif';
    font-size: 12pt;
    /*background-color: rgb(37, 89, 223) !important;*/
}

.frases_apresentacao p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    font-size: 12pt;
    font-weight: bolder;
    margin: 10px;
    font-family: 'Gruppo', 'serif';
}

.p_chamada {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px 0px;
    background-color: #000000;
    border-radius: 15px;
    font-family: 'Merriweather', 'serif';
    animation-name: anima;
    animation-duration: 1.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.btn_chamada {
    background-color: #2a902d;
    padding: 5px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
}

#link_chamada {
    color: white;
    font-size: 13pt;
    text-decoration: none;
    animation-name: text;
}


@keyframes anima {
    0% {
        transform: scale(1.01);
        transform: rotate(0.3deg);
        box-shadow: 0.5px 1px 4px rgb(144, 0, 0), 0px 0px 4px rgb(111, 0, 0);
    }

    50% {
        transform: rotate(0deg);
        transform: scale(1.03);
        box-shadow: 0px 0px 1px rgb(144, 0, 0), 0px 0px 1px rgb(111, 0, 0);
    }
    100% {
        transform: scale(1.01);
        box-shadow: -0.5px 1px 4px rgb(144, 0, 0), 0px 0px 4px rgb(111, 0, 0);
        transform: rotate(-0.3deg);
        
    }
}


.habilidades_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

.habilidade_el {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 5px 0px 5px 0px;
    /* border: 1px solid rgb(0, 0, 0); */
}

.habilidades_container h1 {
    margin: 15px 0px;
}

.habilidade_el h2, h3, span {
    font-weight: 200;
    margin: 5px 15px;
}

.habilidade_el p {
    margin: 10px;
}

#mostrar_contratos, #ocultar_contratos {
    cursor: pointer;
    color: rgb(133, 33, 33);
}

#mostrar_contratos:hover, #ocultar_contratos:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.contato_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(69, 2, 2);
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
.contato_container h1 {
    margin: 15px 0px;
}

.contact-info p {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
.fas {
    margin-right: 5px;
  }

.hr_black {
    width: 80%;
    height: 1px;
    border: 1px solid #000000;
    margin: 20px;
  }

.hr_white {
    width: 80%;
    height: 1px;
    border: 1px solid #ffffff;
    margin: 20px;
  }


.foot {
    display: flex;
    align-items: top;
    justify-content: space-between;
    color: white;
    background-color: #202332;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-top: 1px solid rgba(230, 174, 20, 0.71);
}

.foot_col {
    display: flex;
    font-size: 12pt;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 50%;
}

.foot h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 200;
    font-style: normal;
    margin: 0px;
    padding: 10px;
}

.foot h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 200;
    font-style: normal;
    margin: 0px;
    padding: 5px;
}

.foot p {
    font-family: "Grey Qo", 'cursive';
    font-weight: 500;
    font-style: normal;
    margin: 5px;
    padding: 10px;
    /* background-color: rgba(230, 174, 20, 0.71);; */
}

.btn_redes_f {
    margin: 10px;
}

#whats {
    width: 35px;
    cursor: pointer;
}