body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  .contato_container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .fas {
    margin-right: 5px;
  }

  hr {
    border: 1px solid #000000;
    margin: 20px;
  }